.case-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 280px;
    height: 300px;
    margin: 10px auto;

    gap: 10px;

    transition: transform 0.2s ease, filter 0.2s ease;
}

.case-frame:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
    cursor: pointer;
}