.footer-frame {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-image: linear-gradient(0deg, #111113, #0C0C0D);

    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;

    gap: 100px;
}