<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breakout-Drop</title>
</head>
<body>
  <header class="container">
    <span class="logo">Breakout-Drop</span>
    <nav>
      <ul>
        <li class="active"><a href="#">Breakout-Drop</a></li>
        <li class="active"><a href="#">Case</a></li>
        <li class="active"><a href="#">Upgrade</a></li>
        <li class="active"><a href="#">Contract</a></li>
        <li class="active"><a href="#">Online Players</a></li>
        <li class="active"><a href="#">Balance</a></li>
        <li class="active"><a href="#">Profile</a></li>
      </ul>
    </nav>
  </header>

  <div class="hero container">

  </div>

</body>
</html>