.case-title {
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;

    width: 100%;
    max-width: 2048px;
    height: auto;
    margin: 30px;

    gap: 20px;
}

.case-category-title {
    text-align: center;
    justify-content: center;

    text-decoration: none !important;

    font-family: 'Jaro', sans-serif !important;
    font-size: 40px !important;
    color: #FFFFFF !important;

    opacity: 0.4 !important;
}

.case-name-title {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;

    top: 50px;

    text-align: center;
    justify-content: center;

    text-decoration: none !important;

    font-family: 'Jaro', sans-serif !important;
    font-size: 40px !important;
    color: #FFFFFF !important;

    background-image: linear-gradient(180deg, #71717180, #51515180);

    border-radius: 10px;
}